<ion-header>
  <ion-navbar>
    <ion-title>
      Contact
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div *ngIf="isContacts">
    <ion-searchbar
      [showCancelButton]="shouldShowCancel"
      (ionInput)="onInput($event)"
      (ionCancel)="onClear($event)">
    </ion-searchbar>


    <ion-list>
      <span *ngFor="let contact of contactlist">
      <ion-item  *ngIf="contact.displayName && contact.phoneNumbers">
        <ion-avatar item-left *ngIf="contact.photos">
          <img [src]="sanitize(contact.photos[0].value)">
        </ion-avatar>
        <h2>{{contact.displayName}}</h2>
        <p>{{contact.phoneNumbers[0].value}}</p>
        <p *ngIf="contact.photos">{{contact.photos[0].type}}, {{contact.photos[0].value}}, {{contact.photos[0].pref}} </p>
      </ion-item>
      </span>
    </ion-list>
  </div>

  <div *ngIf="!isContacts">
      해당 연락처 보기 기능이 제한된 환경입니다.<br>
      ( android, ios 만 가능 )
  </div>

</ion-content>
